<form method="post" action="{{ path('app_fonction_delete', {'id': fonction.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette fonction ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.id) }}">
    <button class="btn">Supprimer</button>
</form>
