{% extends 'base.html.twig' %}

{% block title %}Modifier la fonction{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">M</span>ODIFIER LA FONCTION</h1>

    <div class="w-fit relative mx-auto overflow-hidden shadow-xl bg-white rounded-xl p-12 mt-12">
        {{ include('fonction/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {{ include('fonction/_delete_form.html.twig') }}
    </div>

    <a href="{{ path('app_fonction_index') }}" class="p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Retourner à la liste
    </a>

{% endblock %}
