{% extends 'base.html.twig' %}

{% block title %}Modifier la fonction{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">M</span>ODIFIER LA FONCTION</h1>

    {{ include('fonction/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_fonction_index') }}">Retourner à la liste</a>

    {{ include('fonction/_delete_form.html.twig') }}
{% endblock %}
