{% extends 'base.html.twig' %}

{% block title %}Gestion des fonctions{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">G</span>ESTION DES FONCTIONS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>
                    <a href="{{ path('app_fonction_edit', {'id': fonction.id}) }}">
                        {{ fonction.intitule }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de fonction</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fonction_new') }}">Créer une nouvelle fonction</a>
{% endblock %}
