{% extends 'base.html.twig' %}

{% block title %}Nouvelle fonction{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">C</span>réer une nouvelle fonction</h1>

    {{ include('fonction/_form.html.twig') }}

    <a href="{{ path('app_fonction_index') }}">Retourner à la liste</a>
{% endblock %}
