{% extends 'base.html.twig' %}

{% block title %}Gestion des collaborateurs{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white">
        <span class="text-yellow-300">G</span>ESTION DES COLLABORATEURS
    </h1>

    <twig:collaborateur_filtre_form />

    <a href="{{ path('app_collaborateur_new') }}" class="p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Créer un nouveau collaborateur
    </a>
{% endblock %}
