{% extends 'base.html.twig' %}

{% block title %}Nouveau collaborateur{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">C</span>REER UN NOUVEAU COLLABORATEUR</h1>

    {{ include('collaborateur/_form.html.twig') }}

    <a href="{{ path('app_collaborateur_index') }}">Retourner à la liste</a>
{% endblock %}
