{% extends 'base.html.twig' %}

{% block title %}Affectations de ce restaurant{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white">
        <span class="text-yellow-300">A</span>FFECTATIONS DU RESTAURANT {{ restaurant.nom|upper }}
    </h1>

    <twig:restaurant_affectations :restaurantId="restaurant.id" />

    <a href="{{ path('app_affectation_new', {'id': restaurant.id}) }}" class="p-2 items-center bg-blue-600 rounded-xl font-semibold text-lg text-blue-100 hover:bg-blue-700">
        Affecter un nouveau collaborateur
    </a>
{% endblock %}
