{% extends 'base.html.twig' %}

{% block title %}Modifier le restaurant{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white"><span class="text-yellow-300">M</span>ODIFIER LE RESTAURANT</h1>

    <div class="flex items-center justify-center">
        {{ include('restaurant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <a href="{{ path('app_restaurant_index') }}">Retourner à la liste</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
