<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Wacdo{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><rect width=%22128%22 height=%22128%22 fill=%22%23064e3b%22/><text x=%2250%25%22 y=%2250%25%22 dominant-baseline=%22middle%22 text-anchor=%22middle%22 font-size=%2296%22 fill=%22%23fde047%22>W</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div>
            {% block header %}
                <header>
                    {{ include('partials/_nav.html.twig') }}
                </header>
            {% endblock %}
        </div>
        {{ include('partials/flash.html.twig') }}
        {% block body %}{% endblock %}
        <turbo-frame id="modal"></turbo-frame>
    </body>
</html>
