{% extends 'base.html.twig' %}

{% block title %}Recherche des affectations{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl text-shadow-lg font-medium m-8 text-white">
        <span class="text-yellow-300">R</span>ECHERCHE DES AFFECTATIONS
    </h1>

    <twig:affectation_filtre_form />
{% endblock %}
