{% extends 'base.html.twig' %}

{% block title %}Nouvelle affectation{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau collaborateur au restaurant {{ restaurant.nom }}</h1>

    {{ include('affectation/_form.html.twig') }}

    <a href="{{ path('app_affectation_index') }}">Retourner à la liste</a>
{% endblock %}
